/* General settings.  By default, we are assuming that devices are smartphones */
body {
	font-family: helvetica, arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.DocumentContainer {
	max-width: 480px;
	position: relative;
	top: 50px;
}

.HeadContainer {
	display: block;
	overflow-y: auto;
	position: relative;
	top: 50px;
}


.AboutOuterContainer {
	position: relative;
}

.NavDiv, .NavFrame {
	height: 30px;
	padding: 0px;
	margin: 0px;
	width: 360px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 0px;
	border-bottom: 1px solid black;	
}

.NavList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.NavList li {
	float: left;
	padding: 0px;
	margin: 0px;
	padding-right: 1em;
}

.Divider, .DropDown {
	display: none;
	padding-right: 1em;
}

/* On systems with wide screens (traditional PCs, change these.) */
@media screen and (min-width: 640px) {
	.AboutOuterContainer, .ProjectDescriptionOuterContainer {
		position: relative;
		left: -20%;
	}

	.IndexOuterContainer, .ContactOuterContainer, .ProjectsOuterContainer {
		position: relative;
		left: -20%;
	}

	/*.HeadContainer {
		position: fixed;
		height: 80%;
		top: 10%;
		left: 7%;
		width: 30%;
		border-right: 1px solid black;
		margin: 0px;
		padding: 0px;
	}*/

	.HeadContainer {
		position: relative;
		width: 480px;
		left: 45%;
		top: 60px;
		z-index: 5;
		margin: 0px;
		padding: 0px;
		
	}

	.DocumentContainer {
		margin: 0px;
		padding: 0px;
		position: relative;
		left: 45%;
		top: 60px;
		max-width: 480px;
		z-index: 5;
	}

	.NavDiv, .NavFrame {
		position: relative;
		left: 45%;
		width: 480px;
	}

	.Divider, .DropDown {
		display: inline;
	}

}

.Portrait {
	width: 50%;
	position: relative;
	top: 5%;
	left: 5%;
	border-radius: 100%;
}

