---
---

@import "{{ site.theme }}";


.nav {
  display: table-row;
  border-style: none;
  background: #ffffff;
}

.nav li {
  display: table-row;
  border-style: none;
  text-align: left;
  height: 20px;
  width: 100%;
  padding-left: 6px;
  background-color: default;
  margin: default;
}

.nav li a {
  display: table-row;
  border-style: none;
  height: 20px;
  text-align: left;
  background-color: default;
  color: #267CB9;
} 
