---
---

@import "{{ site.theme }}";

.nav {
  display: block;
  background-color: default;
  border-style: none;
}

.nav li a {
  display: block;
  border-style: none;
  text-align: left;
  height: default;
  color: #267CB9;
}
