h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, arial, sans-serif;
	color: #000000;
}

iframe {
	target: "_top";
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

body {
	z-index: 5;
	/*background-color: #DFDFFF;*/
}

p, li {
	color: #202020;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000077;
}

#PortraitImage {
	width: 60%;
	position: relative;
	left: 10%;
}

#ExternalLinksSideFrame {
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	border: 0px;
	position: relative;
	background-color: #FFFFFF;
}

#ExtLinksFrame, #NavLinksFrame {
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid black;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 10;
}

.ExternalLinks {
	border-bottom: 1px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: #FFFFFF;
}

.OuterContainer {
	position: relative;
	top: 50px;  
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.DocumentContainer, .HeadContainer {
	position: relative;
}

.DocumentContainer {
/*	border: 1px solid black; */
	position: absolute;
	left: 45%;
	width: 50%;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

.HeadContainer {
	width: 34%;
	position: fixed;
	left: 5%;
	height: 85%;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
/*	border: 5px solid black; */
	border-right: 1px solid black;
	overflow-y: auto;
}

.HeadContainer *, .DocumentContainer * {
	padding-left: 10px;
	z-index: 9;
}

.NavTable {
	width: 100%;
	padding-left: 0px;
}

.NavTable th {
	text-align: left;
	margin: 10px;
	padding: 10px;
	width: 50%;
}

.NewsList, .RespList, .TechList {
	list-style: inside;
	padding-left: 30px;
}

#nav_frame {
	height:100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	border: 0px;
}

.ExtLinksDiv {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: helvetica, arial, sans-serif;
	color: #000000;
}

.ExtLinksDiv ul {
	margin: 0px;
	padding: 0px;
}

.ExtLinksDiv li {
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-left: 10px;
}

.NewsListSubheader {
	padding: 0px;
	margin: 0px;
}

.InLineLink, .InlineBoldWords, .InlineDel {
	padding-left: 0px;
}

.Summary {
	color: #0000FF;
}

.HeadContainerContentWrap {
	overflow-y: auto;
	top: 10%;
	position: relative;	
}

.SideExpansion {
	position: relative;
	display: inline-block;
}

.ExpansionContainer {
	display: none;
	position: absolute;
	min-width: 500px;
	top: 0px;
	padding: 0px;
	z-index: 12;
}

.ExpansionContainer ul {
	padding: 0;
	margin: 0;
	clear: left;
	float: none;
}


.SideExpansion:hover .ExpansionContainer, .SideExpansion:hover .HiddenColon {
	display: inline;
}


.ExpansionStart {
	padding-left: 10px;
	color: #0000FF;
	float: left;
}

.HiddenColon {
	display: none;
	padding: 0;
	float: left;
	margin: 0;
}

.ExpansionStart:hover {
	color: #000077;
}
